extends layout

block title
  title Resolution Booklet ##{booklet._id}

//-block styles
  +static("css", "/css/codeOverviewStyle.css")

block content
  .container
    +icon("collections_bookmark", "large left blue-text")
    h3 Resolution Booklet ##{booklet._id}
    .divider
    p.justify This page displays all important information about this resolution booklet.
    .row
      mixin check-nothing(resList)
        p.center(class=resList.length && "hide-this")
          em.grey-text.text-darken-1 No resolutions to display.
      mixin res-info(res)
        a(href="/resolution/editor/" + res.token target="_blank")=res.token
        span.res-id  [MUNOL/#{res.idYear}/#{res.resolutionId}]
        span.grey-text  in
        - const address = res.content.resolution.address;
        span.forum  #{address.forum}
        span.grey-text  by
        span.sponsor  #{address.sponsor.main}
      .col.s12.l6
        h5.light Eligible Resolutions
        ul.collection(class=resolutions.length || "hide-this")
          each resolution in resolutions
            li.collection-item
              +res-info(resolution)
        +check-nothing(resolutions)
      .col.s12.l6
        h5.light Selected Resolutions
        ul.collection(class=booklet.resolutions.length || "hide-this")
          each resolution in booklet.resolutions
            li.collection-item
              +res-info(resolution)
        +check-nothing(booklet.resolutions)
