extends layout

block styles
  link(href="/css/editorStyle.css" type="text/css" rel="stylesheet")

block content
  .section#editor-main: .container
    if code
      #code-preset.hide-this=code
    h3 Resolution Editor
    mixin meta-button(id, text, icon, tooltipText)
      a.collection-item.waves-effect.waves-light(class=pritext id=id)&attributes(tooltip(tooltipText, "top"))
        +icon(icon, "left")
        =text
    .collection.with-header#meta-buttons
      .collection-header
        h5.light
          +icon("my_location", "mediumsmall left text-darken-3 " + sectext)
          | Your Token:
          //-git removes spaces at end of lines so this is necessary
          =" "
          span#token-preset.lighten-3(class=sec)=token
        p Please write this token down, because it will be used to identify your resolution when you want continue working on it later. Talk to your chair if you've forgotten your resolution token.
      +meta-button("file-action-load", "Open", "file_upload", "Loades a resolution from a previously saved file")
      +meta-button("file-action-save", "Save", "file_download", "Downloads the resolution in a resusable format")
      +meta-button("file-action-pdf", "View PDF", "description", "Generates a formatted PDF document")
    //-modal is to be used with the makeAlertMessage function which will then populate all of these fields
    .modal#alert-message-modal
      .modal-content
        h4.modal-content-title Message
        span.error-code.grey-text
        p.modal-content-body Text content placeholder!
        .file-field.input-field#file-selector.hide-this
          .btn
            span Select file
            input.file-input(type="file")
          .file-path-wrapper
            input.file-path.validate(type="text" placeholder="File Path" pattern="^.*\.rso")
      .modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat.modal-dismiss-btn(class=priwaves) OK
    mixin floating-sm-btn(color, type, icon, tooltipText)
      a.btn-floating(class=color id=type)&attributes(tooltip(tooltipText, "top")): +icon(icon)
    #eab-inactive-anchor
    #eab-wrapper.right.hide-this
      //-eab stands for edit action button
      +floating-sm-btn("blue", "eab-move-down", "arrow_downward", "Moves this clause down one space")
      +floating-sm-btn("blue", "eab-move-up", "arrow_upward", "Moves this clause up one space")
      +floating-sm-btn("indigo", "eab-add-sub", "format_indent_increase", "Creates a subclause in this clause")
      +floating-sm-btn("cyan", "eab-add-ext", "playlist_add", "Adds a continuation text field under these subclauses")
      +floating-sm-btn("deep-orange", "eab-clear", resetIcon, "Resets the fields in this clause and removes the content continuation field")
      +floating-sm-btn("red", "eab-delete", "delete", "Removes this clause and all its subclauses")
      +floating-sm-btn("green", "eab-done", "done", "Finish editing and deactivate edit mode")
    mixin content-card(cardId)
      .row
        .col.s12.z-depth-2(id=cardId class!=attributes.class)
          block
    mixin clause-content-field(type, placeholder, addClasses)
      .input-field(class=type)
        textarea.materialize-textarea(class=addClasses + " " + type + "-text")
        label(for="materialize-textarea")=placeholder
    mixin clause-card(cardId, clauseType, cardType)
      +content-card(cardId)
        h5=cardType + " Clauses"
        .clause-list
          .clause(data-clause-type=clauseType)
            .divider
            h6.grey-text.text-darken-2.clause-title
              a.edit-mode-btn.btn.right.white-text(class=pri)&attributes(tooltip("Activates editing of this clause", "left"))
                +icon("mode_edit", "icon-sm-med")
              span.clause-prefix
              | Clause #
              span.clause-number 1
            .row.phrase-input-wrapper
              .col.xl4.m6.s12
                .input-field
                  input.autocomplete.required.phrase-input(type="text")
                  label(for=".phrase-input") Phrase
            +clause-content-field("clause-list-anchor clause-content", "Clause Content", "required")
            +clause-content-field("clause-content-ext", "Continuation of Clause Content")
          .add-clause-container
            .divider
            a.btn.white-text.mrg.add-clause-btn.lighten-1(class=pri)&attributes(tooltip("Adds a new clause to the list", "right"))
              +icon("add_circle_outline", "left")
              | Add Clause
    +content-card("meta-data")
      .meta-input-wrapper
        .right.btn-floating.btn-large.waves-effect.waves-light.deep-orange.reset-button(for="meta-data")&attributes(tooltip("Resets these fields", "left"))
          +icon(resetIcon)
        h5 General Data
        .divider.reduced-width-divider
        .input-field
          input.required#author-name(type="text")
          label(for="author-name") Document Author
        .divider
        .row
          .col.xl4.m6.s12
            .input-field
              input.autocomplete.required#forum-name(type="text")
              label(for="forum-name") Forum
          .col.xl4.m6.s12
            .input-field
              input.required#question-of(type="text")
              label(for="question-of") Question of
          .col.xl4.s12
            .input-field
              input.autocomplete.required#main-spon(type="text")
              label(for="main-spon") Main Sponsor
          .col.s12
            label(for="co-spon") Co-Sponsors
            .chips.required#co-spon
    +clause-card("preamb-clauses", "preamb", "Preambulatory")
    +clause-card("op-clauses", "op", "Operative")
block scripts
  script(src="/js/resolutionFormat.js")
  script(src="/js/dataInteraction.js")
  script(src="/js/editorInit.js")
