//-setup primary and secondary colors and their text variants
-
  //colors
  const pri = "teal";
  const sec = "amber";
  const textSuffix = "-text";
  const wavesPrefix = "waves-";
  const pritext = pri + textSuffix;
  const sectext = sec + textSuffix;
  const priwaves = wavesPrefix + pri;
  const secwaves = wavesPrefix + sec;

  //marker colors
  const markers = {
    red: "red lighten-4",
    green: "green lighten-4"
  };

  //function that generates tooltip attribute data, use: &attributes(tooltip("blah", "left"))
  function tooltip(msg, position) {
    const obj = {
      "class": "tooltipped",
      "data-delay": 700,
      "data-position": position
    };

    //add message if not 0
    if (msg) {
      obj["data-tooltip"] = msg;
    }
    return obj;
  }

  const bugReportLink = "https://github.com/douira/resolution-editor/issues/new?&labels[]=user%20bug%20report";

  //icons
  const icons = {
    reset: "clear",
    code: "supervisor_account",
    token: "my_location",
    liveview: "dvr",
    handytextbox: "format_size",
    help: "help",
    weakperm: "block",
    plaintext: "receipt",
    contentguidelines: "gavel"
  };

  //colors for icons
  const colors = {
    liveview: " text-darken-1 blue-text",
    weakperm: " text-darken-1 grey-text",
    handytextbox: " text-lighten-1 brown-text",
    help: " text-darken-1 amber-text",
    plaintext: " text-darken-1 purple-text",
    session: " text-darken-3 amber-text",
    logoutButton: " red lighten-1"
  };

  //placeholders, for adjusting the length
  const placeholders = {
    token: "@ 12345EFGH",
    code: "! ABCD5678"
  };

//-static file serve with cache control
mixin static(type, url)
  - url += "?v=0" //add version to url
  case type
    when "css"
      link(href=url type="text/css" rel="stylesheet")
    when "js"
      script(src=url)

//-icon maker, more icons here if necessary: https://materialdesignicons.com/
mixin icon(name, classes, id)
  i.material-icons(class=classes id=id)=name

//-colorized spinner
mixin spinner(colorCode, size)
  -
    if (typeof size === "undefined") {
      size = "medium";
    }
    if (typeof colorCode === "undefined") {
      colorCode = "blue";
    }
    colorCode = ({
      "blue": "spinner-blue-only",
      "red": "spinner-red-only",
      "green": "spinner-green-only",
      "yellow": "spinner-yellow-only"
    })[colorCode];
  .preloader-wrapper.active(class=size)
    .spinner-layer(class=colorCode)
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle

doctype html
html(lang="en")
  head
    //-charset setup for exotic chars
    meta(charset="utf-8")

    //-setup for materialize
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title Resolution Editor

    //-custom and materialize style sheets
    if serveLocalExt
      +static("css", "/ext/material-icons-2.2.0.css")
      +static("css", "/ext/materialize-0.100.2.min.css")
    else
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      //-link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    +static("css", "/css/mainStyle.css")

    //-critical styles are inlined
    style
      include ../public/css/critical.css

    //-favicon directives, see all colors here: http://materializecss.com/color.html
    //-teal #009688, amber #ffc107
    //-generated with http://www.favicon-generator.org/
    link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="512x512" href="/favicon/favicon-512x512.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
    link(rel="icon" type="image/x-icon" sizes="16x16" href="/favicon/favicon.ico")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#009688")
    meta(name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#009688")

    //-specific styles for this page
    block styles
  body.text-center
    //-display error here if there is one
    block error

    //-navigation, prepend with .navbar-fixed: for sticky navbar
    ul#help-dropdown.dropdown-content
      li: a(href="/help") Help
      li: a(href="/help/contentguidelines") Content Guidelines
      li: a(href="/help/support") Support
      li: a(href="/handytextbox") Handy Textbox
      li: a(href="/resolution/prenew?nonew=1") Read First Page
      li: a(href="/session")=hasSession ? "Session Info" : "Login"
      li: a(href="http://munol.org" target="_blank") MUNOL
    ul#lists-dropdown.dropdown-content
      li: a(href="/list/print") Print Queue
      li: a(href="/list/fcqueue") FC Work-Queue
      li: a(href="/list/overview") Resolutions
      li: a(href="/list/forum") Forums
      li: a(href="/list/booklet") Booklets
      li: a(href="/list/codes") Codes
    nav.lighten-2(class=pri role="navigation"): .nav-wrapper
      .container
        mixin navList
          li: a(href="/") Front Page
          li: a(href="/resolution/prenew") New Resolution
          li: a(href="/resolution") Editor
          li: a(href="/about") About
          li: a.dropdown-button(href="#" data-activates="lists-dropdown") Lists
            +icon("arrow_drop_down", "right")
          li: a.dropdown-button(href="#" data-activates="help-dropdown") Help
            +icon("arrow_drop_down", "right")
        ul.right.hide-on-med-and-down
          +navList(navElements)
        ul.side-nav#nav-mobile
          li(class=pritext)
            h4.center-align Navigation
            .divider
          +navList(navElements)
      a.button-collapse(href="#" data-activates="nav-mobile"): +icon("menu")

    //-necessary for dropdown to work, idk why. removing this prevents the dropdown from apearing
    a.dropdown-button(href="#" data-activates="help-dropdown")
    a.dropdown-button(href="#" data-activates="lists-dropdown")

    //-specific page contents
    main
      block modal
        .modal#alert-message-modal
          .modal-content
            h4.modal-content-title Message
            span.error-code.grey-text
            p.modal-content-body Text content placeholder!
          .modal-footer
            a.modal-action.modal-close.waves-effect.btn-flat.modal-dismiss-btn(class=priwaves) OK
      block content

    //-general footer
    footer
      .page-footer(class=sec)
        .container
          .row
            .col.l6.s12
              h5.white-text Made for MUNOL
              p.grey-text.text-lighten-4 Created in need of a better way of formatting and distributing resolutions for MUNOL.
            .col.xl2.l3.m4.s6
              h5.white-text Contact
              ul
                li: a.white-text(href="https://github.com/douira/resolution-editor") Repository
                li: a.white-text(href=bugReportLink) File a Bug
                li: a.white-text(href="https://github.com/douira/resolution-editor/pulls") Contribute
                li: a.white-text(href="http://munol.org") MUNOL
                li: a.white-text(href="http://app.munol.org") MUNOL-App
                li: a.white-text(href="https://munol.org/legal-notice/") Impressum
            .col.xl3.l3.m4.s6
              h5.white-text Stack
              ul
                li: a.white-text(href="https://material.io") Material Design (+Icons)
                li: a.white-text(href="http://materializecss.com") Materialize
                li: a.white-text(href="https://jquery.com") jQuery
                li: a.white-text(href="https://pugjs.org") Pug
                li: a.white-text(href="https://nodejs.org/en") node.js
                li: a.white-text(href="https://github.com") GitHub
        .footer-copyright
          .container Copyright © 2017 by the
            a.text-lighten-3(class=sectext href="https://github.com/douira/resolution-editor/graphs/contributors")  Contributors
            |  on
            a.text-lighten-3(class=sectext href="https://github.com/douira/resolution-editor")  Github

    //-general scripts
    if serveLocalExt
      +static("js", "/ext/jquery-3.3.1.min.js")
    else
      script(src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    +static("js", "/js/log.js")
    if serveLocalExt
      +static("js", "/ext/materialize-0.100.2.min.js")
    else
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    +static("js", "/js/mainInit.js")

    //-specific scripts
    block scripts
