//-setup primary and secondary colors and their text variants
-
  //colors
  const pri = "teal";
  const sec = "amber";
  const textSuffix = "-text";
  const wavesPrefix = "waves-";
  const pritext = pri + textSuffix;
  const sectext = sec + textSuffix;
  const priwaves = wavesPrefix + pri;
  const secwaves = wavesPrefix + sec;

  //function that generates tooltip attribute data, use: &attributes(tooltip("blah", "left"))
  function tooltip(msg, position) {
  const obj = {
      "class": "tooltipped",
      "data-delay": 700,
      "data-position": position
    };

    //add message if not 0
    if (msg) {
      obj["data-tooltip"] = msg;
    }
    return obj;
  }

  //-icons
  const resetIcon = "clear";

//-icon maker
mixin icon(name, classes)
  i.material-icons(class=classes)= name

doctype html
html(lang="en")
  head
    //-charset setup for exotic chars
    meta(charset="utf-8")

    //-setup for materialize
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Resolution Editor

    //-custom and materialize style sheets
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //-link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    link(href="/css/mainStyle.css" type="text/css" rel="stylesheet")

    //-favicon directives, see all colors here: http://materializecss.com/color.html
    //-teal #009688, amber #ffc107
    //-generated with http://www.favicon-generator.org/
    link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="512x512" href="/favicon/favicon-512x512.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
    link(rel="icon" type="image/x-icon" sizes="16x16" href="/favicon/favicon.ico")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#009688")
    meta(name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#009688")

    //-specific styles for this page
    block styles
  body.text-center
    //-display error here if there is one
    block error

    //-navigation, prepend with .navbar-fixed: for sticky navbar
    nav.lighten-2(class=pri role="navigation"): .nav-wrapper
      .container
        -
          const navElements = [
            ["Editor", "resolution"],
            ["About", "about"],
            ["Help", "help"]
          ];
        mixin navList(arr, useWave)
          each element in navElements
            li: a(class=useWave ? ["waves-effect", "waves-dark"] : [] href=element[1])=element[0]
        ul.right.hide-on-small-and-down
          +navList(navElements, false)
        ul.side-nav#nav-mobile
          li(class=pritext)
            h4.center-align Navigation
            .divider
          +navList(navElements, true)
      a.button-collapse(href="#" data-activates="nav-mobile"): +icon("menu")

    //-specific page contents
    main
      block content

    //-general footer
    footer
      .page-footer(class=sec)
        .container
          .row
            .col.l6.s12
              h5.white-text Created originally for MUNOL
              p.grey-text.text-lighten-4 Created in need of a better way of formatting and distributing resolutions for MUNOL.
            .col.xl2.l3.m4.s6
              h5.white-text Contact
              ul
                li: a.white-text(href="https://github.com/douira/resolution-editor") Repository
                li: a.white-text(href="https://github.com/douira/resolution-editor/issues/new?&labels[]=user%20bug%20report") File a Bug
                li: a.white-text(href="https://github.com/douira/resolution-editor/pulls") Contribute
                li: a.white-text(href="http://munol.org") MUNOL
                li: a.white-text(href="http://app.munol.org") MUNOL-App
            .col.xl3.l3.m4.s6
              h5.white-text Stack
              ul
                li: a.white-text(href="https://material.io") Material Design (+Icons)
                li: a.white-text(href="http://materializecss.com") Materialize
                li: a.white-text(href="https://jquery.com") jQuery
                li: a.white-text(href="https://pugjs.org") Pug
                li: a.white-text(href="https://nodejs.org/en") node.js
                li: a.white-text(href="https://github.com") GitHub

        .footer-copyright
          .container Copyright © 2017 by the
            a.text-lighten-3(class=sectext href="https://github.com/douira/resolution-editor/graphs/contributors")  Contributors
            |  on
            a.text-lighten-3(class=sectext href="https://github.com/douira/resolution-editor")  Github

    //-general scripts
    //-script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="/js/mainInit.js")

    //-specific scripts
    block scripts
