extends layout

block title
  title Resolutions Overview

block content
  include stages
  .container
    +icon("description", "large left blue-text")
    h3 List of Resolutions Overview
    .divider
    p.justify
      if isArchive
        | This is a list of archived(deleted) resolutions grouped by stage. Go back to the #[a(href="?") list] of regular resolutions.
      else
        | This is a list of all resolutions grouped by stage.
        if comMode
          |  These resolutions are in the committee #[b=comName].
        else
          | View the #[a(href="?archive=1") list] of archived (deleted) resolutions.
    if items.length
      .row
        each stage in items
          .col.l6.s12
            +stage-info-index(stage._id, false, true)
            ul.collection
              each res in stage.list
                li.collection-item
                  a(href="/resolution/editor/" + res.token target="_blank")=res.token
                  if res.resolutionId && res.idYear
                    span.res-id  [MUNOL/#{res.idYear}/#{res.resolutionId}]
                  if ! res.forum
                    span.grey-text  (not saved)
                  else
                    if ! comMode
                      span.grey-text  in
                      span.forum(class=res.forum ? "" : "grey-text text-darken-1")=" " + res.forum
                    span.grey-text  by
                    span.sponsor(class=res.sponsor ? "" : "grey-text text-darken-1")=" " + res.sponsor
    else
      p.center: em.grey-text.text-darken-1 No resolutions to display.
