extends layout

block styles
  link(href="/css/liveviewStyle.css" type="text/css" rel="stylesheet")

block content
  .modal#alert-message-modal
      .modal-content
        h4.modal-content-title Message
        span.error-code.grey-text
        p.modal-content-body Text content placeholder!
      .modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat.modal-dismiss-btn(class=priwaves) OK
  .container
    +icon(liveviewIcon, "large left " + liveviewColor)
    h3 Resolution LiveView
    h5.light#token-preset=token
    #code-preset.hide-this=code
    .z-depth-2#viewcontent
      #no-content-msg.hide-this
        h5 No content received
        p Start a LiveView session by opening the editor with sufficient permissions at stage 6. If this page doesn't receive any updates although you started the session in the editor, reload both pages and if the problem persists contact IT-Management.
      .center#spinner-wrapper
        +spinner("blue", "small")
      #resolution.hide-this
        #amd-container.hide-this: h5#amd-text
          span.amd-sponsor
          =" "
          span.amd-action-text
          =" "
          span.amd-target
          | :
        #address
          mixin info-piece(type)
            .row
              .col.s4.l3: p=type.toUpperCase() + ":"
              .col.s8.l9: block
          +info-piece("Forum")
            p.forum-info ?
          +info-piece("Question Of")
            p#question-of-info ?
          +info-piece("Sponsor")
            p#sponsor-info ?
          .row.hide-this
            .col.s4.l3: p CO-SPONSORS:
            .col.s8.l9: p#co-sponsor-info
          p#address-line The #[span.forum-info ?],
        .clause-content#clause-content-template
          span.main-content
        #clauses
          #preamb-clauses
          ol#op-clauses
    br
  div.fixed-action-btn
    a.btn-floating.btn-large#enter-fullscreen(class=pri)&attributes(tooltip("Enter Fullscreen mode", "left"))
      +icon("fullscreen", "mediumsmall-i")
block scripts
  script(src="/js/dialogs.js")
  script(src="/js/liveviewWS.js")
  script(src="/js/liveviewInit.js")
